body {
  background-color: #27272a;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.blur-text {
  font-size: 500%;
  color: #fff;
  margin-top: 6rem; /* reduced from 10rem */
  background-color: transparent;
}


.shiny-text{
  font-size: 130%;
}

.get-started {
  margin-top: 2rem;
  text-align: center;
  z-index: 10;
  position: relative;
}

#signup{
  color: #0d6efd;
}
#signup:hover {
  color: #fff;
  font-weight: 400;
  
}
#login{
  color: #616263ff;
}
#login:hover {
  color: #fff;
  font-weight: 400;
  
}